page-bet {

}
ion-col img {
    width: 50%;
}

ion-checkbox{
    margin-left: 30px;
    margin-right: auto;
}

ion-col p {
    display: block;
}

ion-footer {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px
}