page-home {
    margin: 15px
}

.ii_fields {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1.4em
}


ion-footer {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px
}

ion-button {
    padding: 5px
}